.table__mileage {
  @apply text-[#757575] w-full border-y border-[#ddd] overflow-scroll;
}

.table__mileage-header {
    @apply items-center text-[#757575] w-min sticky top-0 min-w-full;
    @apply leading-none;
    @extend .table__mileage-cell;
    
    min-height: 34px;

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        grid-column: #{$i};
      }
    }
  }

.table__mileage-body {
    @apply border-b last:border-b-0 w-min min-w-full;
    @apply grid;
    grid-auto-columns: max-content;
    justify-content: space-between;
  }

.table__mileage-bodyCell {
    @extend .table__mileage-cell;
    min-height: 42px;
  }

.table__mileage-cell {
  @apply flex items-center min-w-min whitespace-nowrap w-full;
  @apply py-[12px] px-[16px];
  @apply sm:py-[8px] sm:px-[13px];
  justify-content: center;


  // 1 col line
  &:first-child, &:nth-child(6n + 1) {
    @apply sm:pl-[16px];
    @apply md:pl-[24px];
    justify-content: flex-start;
  }
  // 2 col line
  &:nth-child(2), &:nth-child(6n + 2) {
    justify-content: flex-end;
  }
  // 3 col line
  &:nth-child(3), &:nth-child(6n + 3) {
    justify-content: flex-end;
  }
  // 4 col line
  &:nth-child(4), &:nth-child(6n + 4) {
    justify-content: flex-end;
  }
  // 5 col line
  &:nth-child(5), &:nth-child(6n + 5) {
    @apply sm:pr-[16px] sm:min-w-[53px] md:min-w-[100px];
    @apply md:pr-[24px];

    background-color: white;
    justify-content: flex-end;
    position: sticky;
    right: 0;

    &:after {
      @apply bg-gradient-to-l from-white to-transparent;
      content: '';
      display: block;
      position: absolute;
      right: 100%;
      width: 8px;
      height: 100%;
    }
  }
}

.table__responsive_sticky {
  .table__mileage-cell {
    padding: 8px 12px;
    align-self: center;
  }
}